@keyframes lds-dual-ring {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.lds-dual-ring {
    position: relative;
    width: 40%;
    height: 36%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.lds-dual-ring div {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 10px solid #000;
    border-color: #ffffff transparent #ffffff transparent;
    animation: lds-dual-ring 1.3s linear infinite;
}